version: "3"

services:
  # 主应用
  qiankun-main-admin:
    container_name: qiankun-main-admin
    build:
      context: .
      dockerfile: main/Dockerfile
    networks:
      net-qiankun:
        ipv4_address: 172.21.0.2
    depends_on:
      - qiankun-micro-vue3-admin

  # 子应用（vue3）
  qiankun-micro-vue3-admin:
    container_name: qiankun-micro-vue3-admin
    build:
      context: .
      dockerfile: web/vue3/Dockerfile
    networks:
      net-qiankun:
        ipv4_address: 172.21.0.3

  # 代理转发
  qiankun-nginx:
    image: nginx:latest
    container_name: qiankun-nginx
    restart: always
    expose: # 暴露端口给其他容器
      - "81"
      - "82"
    ports: # 将主机端口映射到容器上："主机端口:容器端口"
      - "5173:81"
      - "5174:82"
    volumes:
      - ./nginx.qiankun.conf:/etc/nginx/nginx.conf
    networks:
      net-qiankun:
        ipv4_address: 172.21.0.4
      sso-docker-demo_net-sso: # 同时连接到 sso-docker-demo_net-sso 网络
    depends_on:
      - qiankun-main-admin
      - qiankun-micro-vue3-admin

networks:
  net-qiankun:
    ipam:
      driver: default
      config:
        - subnet: "172.21.0.0/16"
  sso-docker-demo_net-sso:
    external: true # 声明 sso-docker-demo_net-sso 是外部网络
